@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Roboto&display=swap");

.toast-bar-container {
  display: flex;
  align-items: center;
  line-height: 1.3;
  will-change: transform;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
  max-width: 350px;
  pointer-events: auto;
  padding: 8px 10px;
  border-radius: 8px;
  position: relative;

  .message-container {
    display: flex;
    justify-content: flex-start;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 10px;
    color: inherit;
    flex: 1 1 auto;
    white-space: pre-line;
  }

  .progress-bar {
    position: absolute;
    bottom: 0%;
    left: 0.1%;
    right: 0.1%;
    width: 98%;
    height: 0.3rem;
    background-color: transparent;

    span {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
    }
  }
}
